@import "../valo/valo";

@mixin pinger {
  @include valo;

  .evenBackground {
    background: #f3f3f3;
  }

  .glowingGreen {
    -webkit-animation: glowGreen 1.5s ease-in-out infinite;
    animation: glowGreen 1.5s ease-in-out infinite;
  }

  .v-gridlayout {
    background: #eaeaea; /* Creates a "border" around the grid. */
  }

  .v-gridlayout-slot {
    padding: 5px; /* Layout background will show through. */
    background: white; /* The cells will be colored white. */
  }

}

@-webkit-keyframes glowGreen {
  50% {
    box-shadow: 0 0 35px #ffc425;
  }
}

@keyframes glowGreen {
  50% {
    box-shadow: 0 0 35px #ffc425;
  }
}

@media print {
  .doNotPrint {
    display: none !important;
  }
}